.intro {
  text-align: center;
  color: cadetblue;
}

h1 {
  color: greenyellow;
  text-align: center;
}

p {
  color: purple;
  text-align: left;
}

img {
  width: 350px;
  height: 350px;
}

.center {
  display: block;
  /* max-width: 20%;
  height: auto; */
  margin-left: auto;
  margin-right: auto;
}

.highlight {
  color: magenta;
}